<a href="https://colab.research.google.com/github/IagoAlmeida-ias/Programa-o-em-python-/blob/main/01_INTRODU%C3%87%C3%83O.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Olá, Mundo!")

Olá, Mundo!

In [ ]:
print("Iago Almeida")

Iago Almeida

ALGORITMO LANCHE


Passo 1: Pegar o pacote de pão

Passo 2: Abrir o pacote de pão

Passo 3: Pegar a segunda e a terceira fatia de pão

Passo 4: Abrir a geladeira

Passo 5: Achar e pegar a manteiga

Passo 6: Abrir a gaveta do armario e pegar uma faca

Passo 7: Abra a manteiga

Passo 8: Passe a ponta da faca no conteudo da manteiga

Passo 9: Pegue uma das fatias que foi retirada

Passo 10: Passe no centro do pão a mateiga que ficou na faca

Passo 11: Repita o passo 8 e 10 na outra fatia

Passo 12: Coloque uma das fatia numa bancada com a parte da manteiga para cima

Passo 13: Coloque uma fatia de alface no centro dela

Passo 14: Coloque 3 rodelas de tomate por cima do alface

Passo 15: Coloque uma fatia de queijo por cima do tomate

Passo 16: Coloque uma fatia de presunto por cima do queijo

Passo 17: Coloque a ultima fatia de pão.

Abstração lógica: Cafeteira


Recipiente de vidro: Armazenar o grão de café

Recipiente de vidro: Armazenar o café

Motor: Ligar o triturador e esquentar a água

Triturador: Transforma o grão em pó.

LÓGICA BARRIL


Passo 1: Barril A recebe Barril C (3 litros)

Passo 2: Barril A recebe Barril B (1 litro)

In [ ]:
# Desafio troca de variáveis

a = 5
b = 2
c = 0

c = a
a = b
b = c

print(a)
print(b)

2
5

In [ ]:
# Desafio troca de variáveis (Simultâneo)

a = 5
b = 2
c = 0

a, b = b, a

print(a)
print(b)

2
5

In [ ]:
# Atribuição em uma linha

nome, idade, sexo = 'Iago', 22, 'M'

print('Nome:', nome)
print('Idade:', idade)
print('Sexo:', sexo)

Nome: Iago
Idade: 22
Sexo: M

In [ ]:
# Teste de mesa

a = 10
b = 5
c = a + b
print(c)

15

In [ ]:
# Teste de mesa

x = 2
y = 3
z = x * y + y
print(z)

9

In [ ]:
# Diagrama Média

nota1 = 0
nota2 = 0
media = 0

nota1 = float(input("Digite a 1° nota: "))
nota2 = float(input("Digite a 2° nota: "))
media = (nota1+nota2)/2

if media >=5:
    print("Aprovado")
else:
    print("Reprovado")

Digite a 1° nota: 5
Digite a 2° nota: 2
Aprovado

In [ ]:
# Operadores aritméticos


a = 10
b = 3


print(a +  b)     # 13      (adição)
print(a -  b)     # 7       (subtração)
print(a *  b)     # 30      (multiplicação)
print(a /  b)     # 3.3333  (divisão)
print(a // b)     # 3       (divisão inteira)
print(a %  b)     # 1       (módulo/resto da divisão)
print(a ** b)     # 1000    (exponenciação)

print(a ** (1/b)) # 2.15    (radiciação)

13
7
30
3.3333333333333335
3
1
1000
2.154434690031884

In [ ]:
# Operadores relacionais ou de comparação


a = 10
b = 3


print(a == b)  # False  Igual
print(a != b)  # True   Diferente
print(a >  b)  # True   Maior
print(a <  b)  # False  Menor
print(a >= b)  # True   Maior ou igual
print(a <= b)  # False  Menor ou igual

False
True
True
False
True
False

In [ ]:
# Operadores lógicos


a = True
b = False


print(a and b)  # False
print(a or b)   # True
print(not a)    # False

False
True
False

In [ ]:
# Operadores de atribuição


a = 10
a += 2  # a = a + 2
print(a) # 12


b = 10
b -= 2  # b = b - 2
print(b) # 8


c = 10
c *= c  # c = c * c
print(c) # 100


d = 10
d /= 2 # d = d / 2
print(d) # 5.0


d = 10
d **= 2 # d = d ** 2
print(d) # 100


d = 10
d //= 2
print(d) # 5


d = 10
d %= 2
print(d)  # 0

12
8
100
5.0
100
5
0

In [ ]:
# EXPRESSÕES
"""
1) PARÊNTESES
2) POTÊNCIA E RAIZ
3) MULTIPLICAÇÃO E DIVISÃO
4) ADIÇÃO E SUBTRAÇÃO
"""
print(2+2*5**2)
print((2+2)*5**2)
print(((2+2)*5)**2)

52
100
400

In [ ]:
# REFATORAÇÃO DE CÓDIGO


# ORIGINAL
a = 10
b = 20
c = a+b
print('Original', c)


# REFATORADO
def soma(x, y):
    return x+y


print('Refatorado', soma(45, 48))

Original 30
Refatorado 93