<a href="https://colab.research.google.com/github/IagoAlmeida-ias/Programa-o-em-python-/blob/main/02_TIPOS_DE_DADOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TIPOS DE DADOS

1. É o seu primeiro acesso?
Clique no link https://ead.sp.senai.br e preencha o campo "Usuário" com o seu CPF. Em até 30 minutos, você receberá um e-mail com as orientações de acesso e cadastro de senha. Lembre-se de verificar também a sua caixa de SPAM.

2. Já acessou ao Portal de Educação Online do SENAI-SP?
Clique no link https://ead.sp.senai.br e bons estudos!

In [ ]:
# TIPOS NUMÉRICOS (int | float)


x = 10        # Inteiro
y = -1        # Inteiro negativo
z = -5.29     # Decimal negativo (separador é ponto e não vírgula)
PI = 3.1415   # Decimal


print(x)
print(y)
print(z)
print(PI)

10
-1
-5.29
3.1415

In [ ]:

# TIPO CARACTER | STRINGS (str)


nome = 'Leandro'
escola = "SENAI Ary Torres"


print(nome)
print(escola)


print()
print(escola)
print('\n', escola)
print('\n', escola[10])

Leandro
SENAI Ary Torres

SENAI Ary Torres

 SENAI Ary Torres

 T

In [ ]:
# TIPOS LÓGICOS (bool)


continuar = True
parar = False
casado = True


print(continuar)
print(parar)
print(casado)

True
False
True

In [ ]:
# IDENTIFICAR TIPOS DE VARIÁVEIS/CONSTANTES


print(type(x))
print(type(PI))
print(type(nome))
print(type(casado))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# DECLARAÇÃO DE VARIÁVEIS


texto1 = '2'
texto2 = str(2)
numero1 = 3
numero2 = int(3)
decimal1 = float(3)
decimal2 = 3.0
logico = bool(False)


print(texto1)
print(texto2)
print(numero1)
print(numero2)
print(decimal1)
print(decimal2)
print(logico)

print()
nn = texto1+texto2
print(nn)

2
2
3
3
3.0
3.0
False

22

In [ ]:
# ANÁLISE DE STRINGS (str)


n = '5'


print(n.isnumeric())   # Númérico
print(n.isalpha())     # Alfabético
print(n.isalnum())     # Alfanumérico
print(n.isupper())     # Maiúscula
print(n.islower())     # Minúscula
print(n.istitle())     # Primeira maiúscula
print(n.isdecimal())   # Numérico
print(n.isspace())     # Espaço

True
False
True
False
False
False
True
False

In [ ]:
# EXEMPLO


num = input("Digite um número: ")
if num.isnumeric():
    num = int(num)
else:
    print("Não é número!")


print(type(num))

Digite um número: 5.5
Não é número!
<class 'str'>

In [ ]:
# ENTRADA DE DADOS (input)


numeroInteiro = int(input("Digite um número inteiro: "))
print(numeroInteiro)


numeroDecimal = float(input("\nDigite um número decimal: ")) # Sepador de decimal: . (não vírgula)
print(numeroDecimal)


valorLogico = bool(input("Digite algo: "))
print(valorLogico)


# Não há necessidade declarar str() para o input()
texto = str(input("\nDigite um valor alfanumérico:\n"))
print(texto)

Digite um número inteiro: 5
5

Digite um número decimal: 5
5.0
Digite algo: 5
True

Digite um valor alfanumérico:
5
5

In [ ]:
# CONSTANTES


PI = 3.1415
GRAVIDADE = 9.81


print("\nValor de PI:", PI, '\n\n\n')
print("\nValor da gravidade:", GRAVIDADE)

Valor de PI: 3.1415




Valor da gravidade: 9.81

In [ ]:
# CORES
"""
\033[ESTILO;FONTE;FUNDOm TEXTO \033[0m
\033[m    \033[0m


Estilos: 0 nenhum | 1 negrito | 3 itálico | 4 sublinhado
"""


print("\033[1;33;45m   TEXTO   \033[0m")


print("\033[30m CINZA")
print("\033[31m VERMELHO")
print("\033[32m VERDE")
print("\033[33m AMARELO")
print("\033[34m CIAN")
print("\033[35m MAGENTA")
print("\033[36m AZUL")
print("\033[37m BRANCO")


print("\033[40m CINZA")
print("\033[41m VERMELHO")
print("\033[42m VERDE")
print("\033[43m AMARELO")
print("\033[44m CIAN")
print("\033[45m MAGENTA")
print("\033[46m AZUL")
print("\033[47m BRANCO")


print("\033[1;2;3;4;33;45m   TEXTO   \033[0m")

   TEXTO
 CINZA
 VERMELHO
 VERDE
 AMARELO
 CIAN
 MAGENTA
 AZUL
 BRANCO
 CINZA
 VERMELHO
 VERDE
 AMARELO
 CIAN
 MAGENTA
 AZUL
 BRANCO
   TEXTO

In [ ]:
# EXEMPLO DE APLICAÇÃO


print("\033[1;4;45;33m SENAI \033[0m")
print('Ary')
print('Torres')

 SENAI
Ary
Torres

In [ ]:
# TRABALHAR COM EMOJIS (Win+.)


print('👨')
print('👽')
print('😒')

👨
👽
😒

In [ ]:
# COLUNAS COM PREENCHIMENTO E ALINHAMENTO


print(" CENTRALIZADO ".center(30, '-'))
print(" DIREITA".rjust(30, '-'))
print("ESQUERDA ".ljust(30, '-'))

-------- CENTRALIZADO --------
---------------------- DIREITA
ESQUERDA ---------------------

In [ ]:
# ALINHAMENTO PARA F STRINGS


print(f"| {'Unidade':>20} | {'5':^20} |")
print(f"| {'Unidade':^20} | {'5':^20} |")
print(f"| {'Unidade':<20} | {'5':^20} |")

|              Unidade |          5           |
|       Unidade        |          5           |
| Unidade              |          5           |

In [ ]:
# MULTIPLICAÇÃO DE STRINGS


sus = '#'
estrela = '*'


print(sus*2, estrela*10, sus*2)
print('='*16)

## ********** ##
================

In [ ]:
# CONCATENAÇÃO (soma, junta textos)
texto1 = 'SENAI'
texto2 = 'ARY'
texto3 = 'TORRES'
escola = texto1+' '+texto2+' '+texto3


print('\n\n', escola)

 SENAI ARY TORRES

# Desafios

In [ ]:

# DESAFIO 01
"""
Crie um programa para efetuar a leitura de um número inteiro e
apresentar o resultado do quadrado desse número
"""

numeroInteiro = int(input("Digite um número inteiro: "))
print(numeroInteiro**2)

Digite um número inteiro: 5
25

In [ ]:

# DESAFIO 01 (professor)

numero = int(input("Digite um número: "))
quadrado = numero**2
print(quadrado)

Digite um número: 1
1

In [ ]:
# DESAFIO 01 v2 (professor)

numero = int(input("Digite um número: "))
print(numero**2)

Digite um número: 5
25

In [ ]:
# DESAFIO 01 v3 (professor)

print(int(input("Digite um número: "))**2)

Digite um número: 5
25

In [ ]:
# DESAFIO 01 v4


numero = int(input("Digite um número: "))**2
print(numero)

Digite um número: 5
25

In [ ]:
# DESAFIO 01 v5


numero = int(input("Digite um número: "))
quadrado = numero**2
print("\nO quadrado é", quadrado, "!")

Digite um número: 5

O quadrado é 25

In [ ]:
# DESAFIO 01 v6


numero = int(input("Digite um número: "))
quadrado = numero**2
print("\nO quadrado de {} é {}".format(numero, quadrado))

Digite um número: 5

O quadrado de 5 é 25

In [ ]:
# DESAFIO 01 v7


numero = int(input("Digite um número: "))
quadrado = numero**2
nome = 'Iago'
print("\nO %s diz que o quadrado de %d é %f"%(nome,numero, quadrado))

Digite um número: 5

O Iago diz que o quadrado de 5 é 25.0000002

In [ ]:
# DESAFIO 01 v8


numero = int(input("Digite um número: "))
quadrado = numero**2
nome = 'Iago'
print(f"\n{nome} diz que o quadrado de {numero} é {quadrado}!")

Digite um número: 5

Iago diz que o quadrado de 5 é 25!

In [ ]:
# DESAFIO 01 v9


numero = int(input("Digite um número: "))
nome = 'Iago'
print(f"\n{nome} diz que o quadrado de {numero}"
      f" é \033[1;4;32m{numero**2}\033[0m!")

Digite um número: 4

Iago diz que o quadrado de 4 é 16!

In [ ]:
# DESAFIO 02

caractere1 = input("Digite um caractere1: ")
caractere2 = input("Digite um caractere2: ")
caracteres = "O usuário digitou"'\n' + caractere1+' e '+caractere2
print(caracteres)

Digite um caractere1: L
Digite um caractere2: L
O usuário digitou
L e L

In [ ]:
# DESAFIO 02 v2

caractere1 = input("Digite um caractere1: ")
caractere2 = input("Digite um caractere2: ")
caracteres =  caractere1+' e '+caractere2
print("\nO usuário digitou", caracteres)

Digite um caractere1: L
Digite um caractere2: L

O usuário digitou L e L

In [ ]:
# DESAFIO 02 v3

caractere1 = input("Digite um caractere1: ")
caractere2 = input("Digite um caractere2: ")

print(f"\nO usuário digitou({caractere1}) e ({caractere2}))")

In [ ]:
# DESAFIO 03

numero = int(input("Digite um número: "))
sucessor = numero+1
antecessor = numero-1
print(sucessor)
print(antecessor)

Digite um número: 5
6
4

In [ ]:
# DESAFIO 03 v1

numero = int(input("Digite um número: "))
print("\nsucessor",numero+1)
print("\nantecessor",numero-1)

Digite um número: 5

sucessor 6

antecessor 4

In [ ]:
# DESAFIO 04

altura = float(input("Digite um número: "))
base = float(input("Digite um número: "))
perimetro = 2*(base+altura)
area = base*altura
print(perimetro)
print(area)

Digite um número: 4
Digite um número: 6
20.0
24.0

In [ ]:
# DESAFIO 04 v2

altura = float(input("Digite a altura: "))
base = float(input("Digite a base: "))
print("perimetro",2*(base+altura))
print("area",base*altura)

Digite um número: 5
Digite um número: 6
perimetro 22.0
area 30.0

In [ ]:
# DESAFIO 05

valor = float(input("Digite um valor: "))
taxa = float(input("Digite a taxa: "))
tempo = float(input("Digite o tempo: "))
print(valor + (valor  * (taxa / 100) * tempo))

Digite um número: 5.50
Digite um número: 3.2
Digite um número: 10.50
7.348

In [ ]:
# DESAFIO 05

valor = float(input("Digite um valor: "))
taxa = float(input("Digite a taxa: "))
tempo = float(input("Digite o tempo: "))

pretacao = valor+(valor*(taxa/100)*tempo)

print(f" valor atualizado: R$ {pretacao:,.2f}")

Digite um valor: 5
Digite a taxa: 5
Digite o tempo: 5
 valor atualizado: R$ 6.25

In [ ]:
# Desafio 06

nota1 = float(input("Digite a 1ª nota: "))
nota2 = float(input("Digite a 2ª nota: "))
nota3 = float(input("Digite a 3ª nota: "))
media = (nota1+nota2+nota3)/3


if media >= 5:
    print("Aprovado")
else:
    print("Reprovado")

Digite a 1ª nota: 9
Digite a 2ª nota: 3
Digite a 3ª nota: 4
Aprovado

In [ ]:
# Desafio 06

aluno = str(input("Digite o nome do aluno: "))
nota1 = float(input("Digite a 1ª nota: "))
nota2 = float(input("Digite a 2ª nota: "))
nota3 = float(input("Digite a 3ª nota: "))
media = (nota1+nota2+nota3)/3

if media >= 5:
    print(f"\nO {aluno} esta Aprovado, por que sua media ficou {media}")
else:
    print(f"\nO {aluno} esta Reprovado, por que sua media ficou {media}")

Digite o nome do aluno: Ingrid
Digite a 1ª nota: 8
Digite a 2ª nota: 7.5
Digite a 3ª nota: 1

O Ingrid esta Aprovado, por que sua media ficou 5.5

In [ ]:
# DESAFIO 07

a = 3
b = 4
c = a**2 + b**2
print(c**(1/2))

5.0

In [ ]:
# DESAFIO 08

salario = float(input("salario: "))
aumento = float(input("percentual em %: "))

print(f"Salario final: {salario*(aumento/100)+salario:,.2f}")

salario: 2000
percentual em %: 10
Salario final: 2,200.00

In [ ]:
 #volume = PI * r² * altura

raio = float(input("Digite a raio: "))
altura = float(input("Digite a altura: "))
PI= 3.1415
c = (PI*(raio**2)*altura)
print(f" o volume de um objeto cilíndrico é: {c:.4f}")

Digite a raio: 4
Digite a altura: 6
 o volume de um objeto cilíndrico é: 301.5840

In [ ]:
sus = ' '
estrela = '*'


print(f'{sus*8} {estrela} {sus*8}\n'
      f'{sus*7} {estrela*3} {sus*7}\n'
      f'{sus*6} {estrela*5} {sus*6}\n'
      f'{sus*5} {estrela*7} {sus*5}\n'
      f'{sus*4} {estrela*9} {sus*4}\n'
      f'{sus*3} {estrela*11} {sus*3}\n'
      f'{sus*2} {estrela*13} {sus*2}\n'
      f'{sus*1} {estrela*15} {sus*1}\n'
      f' {estrela*17}\n'
      f'{sus*7} {estrela*3} {sus*7}\n'
      f'{sus*7} {estrela*3} {sus*7}\n'
      f'{sus*7} {estrela*3} {sus*7}\n')

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
        ***
        ***
        ***

In [ ]:
sus = ' '
estrela = '*'


print(f'\033[32m{sus*8} {estrela} {sus*8}\n'
      f'{sus*7} {estrela*3} {sus*7}\n'
      f'{sus*6} {estrela*5} {sus*6}\n'
      f'{sus*5} {estrela*7} {sus*5}\n'
      f'{sus*4} {estrela*9} {sus*4}\n'
      f'{sus*3} {estrela*11} {sus*3}\n'
      f'{sus*2} {estrela*13} {sus*2}\n'
      f'{sus*1} {estrela*15} {sus*1}\n'
      f' {estrela*17}\033[0m\n'
      f'\033[31m{sus*7} {estrela*3} {sus*7}\n'
      f'{sus*7} {estrela*3} {sus*7}\n'
      f'{sus*7} {estrela*3} {sus*7}\n\033[0m')

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
        ***
        ***
        ***

In [ ]:
sus = ' '
estrela = '\033[42m \033[0m'
p='\033[41m \033[0m'

print(f'\033[32m{sus*8} {estrela} {sus*8}\n'
      f'{sus*7} {estrela*3} {sus*7}\n'
      f'{sus*6} {estrela*5} {sus*6}\n'
      f'{sus*5} {estrela*7} {sus*5}\n'
      f'{sus*4} {estrela*9} {sus*4}\n'
      f'{sus*3} {estrela*11} {sus*3}\n'
      f'{sus*2} {estrela*13} {sus*2}\n'
      f'{sus*1} {estrela*15} {sus*1}\n'
      f' {estrela*17}\033[0m\n'
      f'\033[31m{sus*7} {p*3} {sus*7}\n'
      f'{sus*7} {p*3} {sus*7}\n'
      f'{sus*7} {p*3} {sus*7}\n\033[0m')

In [ ]:
print('\033[42;33m')
print(' CARDÁPIO '.center(50, '#'))
print('\n\033[0m'"Pastel ".ljust(47, '.')+('R$ 6,50'))
print("Coxinha ".ljust(42, '.')+('R$ 5,50'))
print("Resole de queijo ".ljust(42, '.')+('R$ 7,50'))

#################### CARDÁPIO ####################

Pastel ...................................R$ 6,50
Coxinha ..................................R$ 5,50
Resole de queijo .........................R$ 7,50

In [ ]:
# DESAFIO 12 v2


print('\033[1;33;42m'," CARDÁPIO ".center(40, '#'),'\033[0m\n')



print(f"{'Pastel'.ljust(32, '.')}{'R$ 6,50'.rjust(10, '.')}")
print(f"{'Coxinha'.ljust(32, '.')}{'R$ 16,50'.rjust(10, '.')}")
print(f"{'Risoles de queijo'.ljust(32, '.')}{'R$ 156,50'.rjust(10, '.')}")

 ############### CARDÁPIO ###############

Pastel.............................R$ 6,50
Coxinha...........................R$ 16,50
Risoles de queijo................R$ 156,50

In [ ]:
# DESAFIO 12 v2
produto= input("Nome do produto: ")
preco= 'R$ '+input("Preço do produto R$: ")

print('\033[1;33;42m'," CARDÁPIO ".center(40, '#'),'\033[0m\n')


print(f"{'Pastel'.ljust(32, '.')}{'R$ 6,50'.rjust(10, '.')}")
print(f"{'Coxinha'.ljust(32, '.')}{'R$ 16,50'.rjust(10, '.')}")
print(f"{'Risoles de queijo'.ljust(32, '.')}{'R$ 156,50'.rjust(10, '.')}")
print(f"{produto.ljust(32, '.')}{preco.rjust(10, '.')}")

Nome do produto: lulu
Preço do produto R$: 15,00
 ############### CARDÁPIO ###############

Pastel.............................R$ 6,50
Coxinha...........................R$ 16,50
Risoles de queijo................R$ 156,50
lulu..............................R$ 15,00