<a href="https://colab.research.google.com/github/IagoAlmeida-ias/Programa-o-em-python-/blob/main/03_MANIPULA%C3%87%C3%83O_DE_STRINGS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 03 MANIPULAÇÃO DE STRINGS

In [ ]:
# FATIAMENTO DE STRINGS


texto = "Curso de Python"


print(texto[6])          # 7º caracterer
print(texto[9:15])       # 10º ao 15º caracterer
print(texto[9:15:2])     # 10º ao 15º caracterer de 2 em 2
print(texto[:5])         # Até o 5º caracterer
print(texto[9:])         # 10º caracterer em diante
print(texto[::-1])       # Inverter o texto
print(texto[-1])         # Último caracter

d
Python
Pto
Curso
Python
nohtyP ed osruC
n

In [ ]:
# ANÁLISE DE STRINGS


frase = "SENAI Ary Torres"


# tamanho da string
print(len(frase))


# contar caracteres
print(frase.count('r'))


# encontrar índice (retorna -1 se não encontrar)
print(frase.find('z'))


# encontrar índice (a partir da direita)
print(frase.rfind('s'))


# encontrar índice (gera erro se não encontrar)
print(frase.index('r'))


# verificar pertinência
print('Ary' in frase)

16
3
-1
15
7
True

In [ ]:
# TRANSFORMAÇÃO DE STRINGS
frase = "SENAI Ary Torres"

# maiúscula
print(frase.upper())


# minúscula
print(frase.lower())


# primeira da frase em maiúscula
print(frase.capitalize())


# primeira letra de cada palavra em maiúscula
print(frase.title())

SENAI ARY TORRES
senai ary torres
Senai ary torres
Senai Ary Torres

In [ ]:
# TRANSFORMAÇÃO DE STRINGS 2


# substituir palavras
print(frase.replace('SENAI', 'ESCOLA'))
print(frase)
frase = frase.replace('SENAI', 'ESCOLA')
print(frase)


frase2 = "   oi    SENAI   Ary Torres oi  "


# retirada/limpeza
print(frase2.strip())
frase2 = frase2.strip() # limpar espaços antes e depois


print(frase2.strip('oi'),)


url = 'https://google.com/h'
print(url.rstrip('h'))
print(url.replace('google', ''))


print(url.lstrip('https://'))

ESCOLA Ary Torres
ESCOLA Ary Torres
ESCOLA Ary Torres
oi    SENAI   Ary Torres oi
    SENAI   Ary Torres
https://google.com/
https://.com/h
google.com/h

In [ ]:
# JUNÇÃO E DIVISÃO DE STRINGS


texto = "SENAI Ary Torres"


# juntar caracteres com delimitador
print('.'.join(texto))


# dividir palavras em lista
print(texto.split())
print(texto.split()[0])   # primeira palavra
print(texto.split()[-1])  # última palavra
print(texto.split()[1])


lista = texto.split()
print(', '.join(lista))

S.E.N.A.I. .A.r.y. .T.o.r.r.e.s
['SENAI', 'Ary', 'Torres']
SENAI
Torres
Ary
SENAI, Ary, Torres

In [ ]:
# EXEMPLO DE SANITIZAÇÃO DE FRASE


frase2 = "   oi    SENAI   Ary Torres oi  ".strip()
frase2 = frase2.strip('oi')
frase2 = frase2.split()
frase2 = ' '.join(frase2)
print(frase2)
print(type(frase2))

SENAI Ary Torres
<class 'str'>

In [ ]:
# EXEMPLO DE SANITIZAÇÃO DE FRASE v2


frase2 = ' '.join("   oi    SENAI   Ary Torres oi  ".strip().strip('oi').split())
print(frase2)

SENAI Ary Torres

In [ ]:
# EXEMPLO DE SANITIZAÇÃO DE FRASE v3


print(' '.join("   oi    SENAI   Ary Torres oi  ".strip().strip('oi').upper().split()))

SENAI ARY TORRES

In [ ]:
# EXEMPLO EXIBIR O DOMÍNIO DO E-MAIL


email = 'leandro@gmail.com'.split('@')
print(email)
email_1_parte = email[0]
print(email_1_parte)
print(email[-1])

['leandro', 'gmail.com']
leandro
gmail.com

# DESAFIOS

In [ ]:
# DESAFIO 01

nome =(input("Escreva seu nome: "))

print(nome.upper())
print(nome.lower())
print(len(nome.split()[0]))
print(len(nome.replace(' ','')))

Escreva seu nome: Iago Almeida
IAGO ALMEIDA
iago almeida
4
11

In [ ]:
numero = input("digite um numero entre 1000 a 9999: ")
print("\nUnidade",numero[-1])
print("\nDezena",numero[-2])
print("\nCentena",numero[-3])
print("\nMilhar",numero[-4])

digite um numero entre 1000 a 9999: 8600

Unidade 0

Dezena 0

Centena 6

Milhar 8

In [ ]:
# DESAFIO 03

nome =input("Escreva uma frase: ")

print(nome.count("a"))
print(nome.find('a'))
print(nome.rfind('a'))

Escreva uma frase: qko cneji
0
-1
-1

In [ ]:
# DESAFIO 03 v2

nome =input("Escreva uma frase: ").upper()

print(f"\nA letra A aparece {nome.count('A')} vezes"
      f"\nposição aparece primeiro {nome.find('A')}"
      f"\nposição aparece por ultimo {nome.rfind('A')}")

Escreva uma frase: oknoinb

A letra A aparece 0 vezes
posição aparece primeiro -1
posição aparece por ultimo 0

In [ ]:
# DESAFIO 04

nome =(input("Escreva seu nome: "))

print("\nPrimeriro nome: ", nome.split()[0])
print("\nÚltimo nome: ", nome.split()[-1])

Escreva seu nome: Iago Almeida

Primeriro nome:  Iago

Último nome:  Almeida

In [ ]:
# DESAFIO 05

frase = input("Escreva uma frase: ").replace(' ','')

letra = input("EScreva uma letra: ")

print("\nquantas letras tem:",frase.count(letra))
print("\nposição ela aparece primeiro:",frase.find(letra))
print("\nposição ela aparece a última vez:",frase.rfind(letra))

Escreva uma frase: IAGO aLMEIDA
EScreva uma letra: A

quantas letras tem: 2

posição ela aparece primeiro: 1

posição ela aparece a última vez: 10