<a href="https://colab.research.google.com/github/IagoAlmeida-ias/Programa-o-em-python-/blob/main/05_MATCH_CASE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 05 MATCH CASE

In [ ]:
# OPÇÃO ÚNICA


operacao = input("""
ESCOLHA UMA OPÇÃO:


[1] Opção 1
[2] Opção 2
[3] Opção 3
""")


match operacao:
    case '1':
        print("Opção 1 foi escolhida...")
    case '2':
        print("Opção 2 foi escolhida...")
    case '3':
        print("Opção 3 foi escolhida...")
    case _:
        print("Opção inválida...")

ESCOLHA UMA OPÇÃO:


[1] Opção 1
[2] Opção 2
[3] Opção 3
4
Opção inválida...

In [ ]:
# OPÇÃO MULTIPLA


operacao = input("""
ESCOLHA UMA OPÇÃO:


[1] Opção 1
[2] Opção 2
[3] Opção 3
""")


match operacao:
    case '1' | '2':
        print("Opção 1 ou 2 escolhida...")
    case '3':
        print("Opção 3 foi escolhida...")
    case _:
        print("Opção inválida...")

ESCOLHA UMA OPÇÃO:


[1] Opção 1
[2] Opção 2
[3] Opção 3
2
Opção 1 ou 2 escolhida...

In [ ]:
# OPÇÃO MÚLTIPLA COM CASE _ IF


numero = int(input("Digite um número: "))


match numero:
    case 1 | 3 | 5 | 7 | 9:
        print("É ímpar entre 0 e 10")
    case _ if numero < 0:
        print("É negativo")
    case _:
        print("Um número qualquer...")

Digite um número: -9
É negativo

In [ ]:
numero = int(input("Digite um número: "))
ultimo_numero = str(numero)[-1]


match ultimo_numero:
    case '1' | '3' | '5' | '7' | '9':
        print(f"\nO número {numero} é \033[31mÍMPAR\033[0m. ☝")
    case _:
        print(f"\nO número {numero} é \033[32mPAR\033[0m. ✌")

Digite um número: 5

O número 5 é ÍMPAR. ☝

# DESAFIOS

In [ ]:
n1 = int(input("Digite a nota: "))

match n1:
    case 0 | 1 | 2 | 3 | 4 :
        print("Nota Baixa")
    case 5 | 7:
        print("Nota Média")
    case 8 | 9 :
        print("Nota Alta")
    case 10:
        print("Nota Excelente")
    case _:
        print("\033[31mNota esta errada↑↑↑")

Digite a nota: 3
Nota esta errada

In [ ]:

# DESAFIO 02

n1 = float(input("Digite a nota: "))

match n1:
    case _ if n1 <5:
        print("Nota Baixa")
    case _ if n1 >=5 and n1 <=6.9:
        print("Nota Média")
    case _ if n1 >=7 and n1 <=9.9:
        print("Nota Alta")
    case 10:
        print("Nota Excelente")
    case _:
        print("\033[31mNota esta errada↑↑↑")

Digite a nota: 6.8
Nota Média

In [ ]:
# DESAFIO 03
n1 = int(input("""
EScolha um:

[1] domingo
[2] segunda
[3] terça
[4] quarta
[5] quinta
[6] sexta
[7] sabado

"""))
match n1:
    case 1:
        print("domingo")
    case 2:
        print("segunda")
    case 3:
        print("terça")
    case 4:
        print("quarta")
    case 5:
        print("quinta")
    case 6:
        print("sexta")
    case 7:
        print("sabado")
    case _:
        print(f"\033[31m↑↑↑{n1} não estava nas opcões de escolhas")

EScolha um:

[1] domingo
[2] segunda
[3] terça
[4] quarta
[5] quinta
[6] sexta
[7] sabado

8
8 não estava nas opcões de escolhas

In [ ]:
# DESAFIO 04

n1 = int(input("Digite a nota: "))
n2 = int(input("Digite a nota: "))
n = input("""
Escolha a operação

[+] adição
[-] subtração
[*] multiplicação
[/] divisão

""")

match n:
    case '+':
        print(f"\033[32m{n1} + {n2} é igual a: {n1+n2} ")
    case '-':
        print(f"\033[32m{n1} - {n2} é igual a: {n1-n2} ")
    case '*':
        print(f"\033[32m{n1} * {n2} é igual a: {n1*n2} ")
    case '/':
        print(f"\033[32m{n1} / {n2} é igual a: {n1/n2:,.1f} ")
    case _ :
        print(f"\033[31m↑↑↑↑{n}Não é uma operação")

Digite a nota: 7
Digite a nota: 10

Escolha a operação

[+] adição
[-] subtração
[*] multiplicação
[/] divisão

/
10 / 7 é igual a: 1.4

In [ ]:
# DESAFIO 04 v2

n1 = float(input("Digite a numero 1: "))

n = input("""
Escolha a operação

[+] adição
[-] subtração
[*] multiplicação
[/] divisão

""")
n2 = float(input("Digite a numero 2: "))
match n:
    case '+':
        print(f"\033[32m{n1} + {n2} é igual a: {n1+n2} ")
    case '-':
        print(f"\033[32m{n1} - {n2} é igual a: {n1-n2} ")
    case '*':
        print(f"\033[32m{n1} * {n2} é igual a: {n1*n2} ")
    case '/' if n2 == 0:
        print(f"não pode fazer a divisão")
    case '/':
        print(f"\033[32m{n1} / {n2} é igual a: {n1/n2:,.1f} ")
    case _ :
        print(f"\033[31m↑↑↑↑{n}Não é uma operação")

Digite a numero 1: 5

Escolha a operação

[+] adição
[-] subtração
[*] multiplicação
[/] divisão

*
Digite a numero 2: 9
5.0 * 9.0 é igual a: 45.0

In [ ]:
# DESAFIO 05

letra = input("Escreva uma letra: ").upper()

match letra:
    case 'A' | 'E' | 'I' | 'O' |'U':
        print(f"\033[32m{letra} é uma vogal")
    case _ if letra.isalpha() :
        print(f"\033[33{letra} é uma consoante")
    case _ :
        print(f"\033[31m{letra} não esta no alfabeto ")

Escreva uma letra: a
A é uma vogal

In [ ]:
# DESAFIO 06
letra = input("Escreva uma letra: ").lower()

match letra:
    case 'a' | 'e' | 'i' | 'o' |'u':
        print(f"\033[32{letra} é uma vogal")
    case _ if letra.isalpha() :
        print(f"\033[33m{letra} é uma consoante")
    case _ :
        print(f"\033[31m{letra} não esta no alfabeto ")

Escreva uma letra: p
p é uma consoante

In [ ]:
# DESAFIO 06 V2
letra = input("Escreva uma letra: ").lower()

match letra:
    case 'a' | 'e' | 'i' | 'o' |'u':
        print(f"\033[32{letra} é uma vogal")
    case _ if letra.isalpha() :
        print(f"\033[33m{letra} é uma consoante")
    case _ if letra.isnumeric():
        print(f"\033[31m{letra} é um numero inteiro")
    case _ if letra.isspace():
        print(f"\033[31m{letra} é um Espaço")
    case _ :
        print(f"\033[31m{letra} é um caracter especial")

Escreva uma letra: 2.3
2.3 é um caractere especial

In [ ]:
# DESAFIO 07

valor = float(input("Escreva o valor: R$ "))
mo = input("""
[D] Dólar
[E] Euro
[L] Libra

""").upper()

match mo:
    case 'D':
        print(f"Novo saldo é de:\033[32m $ {valor*0.18:,.2f}")
    case 'E':
        print(f"Novo saldo é de:\033[32m € {valor*0.16:,.2f}")
    case 'L':
        print(f"Novo saldo é de:\033[32m £ {valor*0.13:,.2f}")
    case _ :
        print(f"\033[31m↑↑↑ {mo} foi uma escolha direrente das opões ")

Escreva o valor: R$ 5

[D] Dólar
[E] Euro
[L] Libra

p
↑↑↑ P foi uma escolha direrente das opões

In [ ]:
# DESAFIO 07 v2


dolar = 0.18
euro = 0.16
libra = 0.13


print("""
___________________________


🤑\033[1;32m  CONVERSÃO DE MOEDAS \033[0m 💲
___________________________
""")


valor = float(input("Digite um valor em R$ para conversão: \n\n"))
conversao = input("\nEscolha a moeda: D (Dólar) E (Euro) L (Libra) \n\n").lower()


match conversao:
    case 'd':
        print(f"\n$ {(valor*dolar):,.2f}")
    case 'e':
        print(f"\n€ {(valor*euro):,.2f}")
    case 'l':
        print(f"\n£ {(valor*libra):,.2f}")
    case _:
        print("\n\033[31mConversão inválida...")

___________________________


🤑  CONVERSÃO DE MOEDAS  💲
___________________________

Digite um valor em R$ para conversão:

11111

Escolha a moeda: D (Dólar) E (Euro) L (Libra)

d

$ 1,999.98