<a href="https://colab.research.google.com/github/IagoAlmeida-ias/Programa-o-em-python-/blob/main/06_LA%C3%87O_DE_REPETI%C3%87%C3%83O_FOR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LAÇO DE REPETIÇÃO FOR

In [ ]:
# EXEMPLO 01

for i in range(1, 6):
    print(i, end=' ')

1 2 3 4 5

In [ ]:
# EXEMPLO 02
# range(inicio, fim, salto)

for i in range( 1, 10, 2):
   print(i, end=' ')

1 3 5 7 9

In [ ]:
# EXEMPLO 03
inicio, fim, salto = 5, 0, -1


for i in range(inicio, fim, salto):
    print(i, end=' ')

5 4 3 2 1

In [ ]:
# EXEMPLO 04


for i in range(5):
    print(f"{i+1} | SENAI")

1 | SENAI
2 | SENAI
3 | SENAI
4 | SENAI
5 | SENAI

In [ ]:
# EXEMPLO 04 v2


for _ in range(5):
    print(f"{1} | SENAI")

1 | SENAI
1 | SENAI
1 | SENAI
1 | SENAI
1 | SENAI

In [ ]:
# EXEMPLO 05


texto = 'Python'


for letra in texto:
    # pass
    print('\033[31m', letra.upper(), end='   ')

 P    Y    T    H    O    N

In [ ]:
# EXEMPLO 06


frase = ['PYTHON', 'É', 'FANTÁSTICO']


for palavra in frase:
    print(palavra)

PYTHON
É
FANTÁSTICO

In [ ]:
# EXEMPLO 07
""" continue pula a iteração """


lista = [1, 10, 20, 30, 40, 50]


for numero in lista:
    if numero == 30:
        continue #volta pro começo
    print(numero, end=' ')

1 10 20 40 50

In [ ]:
# EXEMPLO 08
""" break finaliza o laço """


for i in range(50):
    if i >= 10:
       break # Para o programa
    print(i+1, end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
# EXEMPLO 09


frase = ['PYTHON', 'É', 'FANTÁSTICO!']


for i in range(len(frase)):   # esta lendo a frase por parte para consegui puxar so uma que quiser
    print(frase[i])

PYTHON
É
FANTÁSTICO!

In [ ]:
# EXEMPLO 10


frase = ['PYTHON', 'É', 'FANTÁSTICO!']

                                           # i = a enumerate
for i, palavra in enumerate(frase):        # palavra = frase
    print(i, palavra)

0 PYTHON
1 É
2 FANTÁSTICO!

In [ ]:
# EXEMPLO 11


for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i*j}".rjust(3), end=' ')
    print()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100

In [ ]:
# EXEMPLO 12


for i in range(0, 11):
    for j in range(0, 11):
        print(f"{i+j}".rjust(3), end=' ')
    print()

  0   1   2   3   4   5   6   7   8   9  10
  1   2   3   4   5   6   7   8   9  10  11
  2   3   4   5   6   7   8   9  10  11  12
  3   4   5   6   7   8   9  10  11  12  13
  4   5   6   7   8   9  10  11  12  13  14
  5   6   7   8   9  10  11  12  13  14  15
  6   7   8   9  10  11  12  13  14  15  16
  7   8   9  10  11  12  13  14  15  16  17
  8   9  10  11  12  13  14  15  16  17  18
  9  10  11  12  13  14  15  16  17  18  19
 10  11  12  13  14  15  16  17  18  19  20

# DESAFIOS

In [ ]:
# DESAFIO 01

for i in range(2, 51, 2):
    print(i, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [ ]:
# DESAFIO 01 v2


for numero in range(1, 51):
    if numero%2 == 0:
        print(numero, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [ ]:
# DESAFIO 02

soma = 0
for i in range(0,501,3):
    if i%2 != 0:
       soma += i
print(f"{soma}", end=' ')

20667

In [ ]:
# DESAFIO 03
num = int(input("Digite o numero: "))
for i in range(1,11):
    print(f"{num*i}".rjust(3), end=' ')

Digite o numero: 5
  5  10  15  20  25  30  35  40  45  50

In [ ]:
# DESAFIO 04
import time

for i in range(10,-1,-1):
   time.sleep(1)
   print(f"{i}",end=' ')

10 9 8 7 6 5 4 3 2 1 0

In [ ]:
# DESAFIO 05

soma = 0

for i in range(1,7):
    if i%2 != 0:
       continue
    soma += i

print(f"{soma}", end=' ')

12

In [ ]:
# DESAFIO 06
ter = int(input("Digite o numero pra começar: "))
razao = int(input("Digite o numero o quanto pra pular: "))


for i in range(0, 10):
   print(f"{ter+(razao*i)}", end=' ')

Digite o numero pra começar: 5
Digite o numero o quanto pra pular: 6
5 11 17 23 29 35 41 47 53 59

In [ ]:
# DESAFIO 07

peso1 = float(input("Digite o peso da 1º pessoa: "))
peso2 = float(input("Digite o peso da 2º pessoa: "))
peso3 = float(input("Digite o peso da 3º pessoa: "))
peso4 = float(input("Digite o peso da 4º pessoa: "))
peso5 = float(input("Digite o peso da 5º pessoa: "))

print(f"peso maior: ", max({peso1,peso2,peso3,peso4,peso5}))
print(f"peso menor: ", min(peso1,peso2,peso3,peso4,peso5))

Digite o peso da 1º pessoa: 55
Digite o peso da 2º pessoa: 44
Digite o peso da 3º pessoa: 99
Digite o peso da 4º pessoa: 66
Digite o peso da 5º pessoa: 44.1
peso maior:  99.0
peso maior:  44.0

In [ ]:
# DESAFIO 08
menor = 0
maior = 0
nasc1 = 2025-int(input("Digite seu ano de nascimento: "))
nasc2 = 2025-int(input("Digite seu ano de nascimento: "))
nasc3 = 2025-int(input("Digite seu ano de nascimento: "))
nasc4 = 2025-int(input("Digite seu ano de nascimento: "))
nasc5 = 2025-int(input("Digite seu ano de nascimento: "))
nasc6 = 2025-int(input("Digite seu ano de nascimento: "))
nasc7 = 2025-int(input("Digite seu ano de nascimento: "))
idade = nasc1, nasc2, nasc3, nasc4, nasc5, nasc6, nasc7

for num in idade:
    if  num >= 18:
       maior += 1
    if num < 18:
       menor += 1

print(maior)
print(menor)

Digite seu ano de nascimento: 2002
Digite seu ano de nascimento: 2002
Digite seu ano de nascimento: 2002
Digite seu ano de nascimento: 2010
Digite seu ano de nascimento: 2010
Digite seu ano de nascimento: 2010
Digite seu ano de nascimento: 2007
4
3

In [ ]:
# DESAFIO 08 v2


maior_de_idade = 0
menor_de_idade = 0


for i in range(1, 8):
    idade = 2025-int(input(f"Digite o {i}º ano de nascimento: "))
    if idade >= 18:
        maior_de_idade += 1
    else:
        menor_de_idade += 1


print(f"\n{maior_de_idade} pessoa(as) são maior de idade.")
print(f"{menor_de_idade} pessoa(as) são menor de idade.")

In [ ]:
# DESAFIO 09
maior = float('-inf')
menor = float('inf')
homen = "Nenhum homen cadastrado"
mu = 0
qt = 0
soma = 0
for x in range(1, 5):
    no = input(f"Digite o {x}º nome: ")
    ida = float(input(f"Digite o {x}º idade: "))
    sex = input(f"Digite o {x}º sexo (M,F): ").upper()
    qt += 1
    soma += ida
    if sex == 'M' and ida > maior:
       homen = no

    if  sex == "F" and ida < 20 :
       mu += 1


print(f"{soma/qt:,.1f}")
print(f"{homen}")
print(f"Nenhuma mulher -20 cadastrada"
      if mu == 0 else
      f"{mu} mulher(es) cadastradas")

Digite o 1º nome: i
Digite o 1º idade: 2
Digite o 1º sexo (M,F): m
Digite o 2º nome: d
Digite o 2º idade: 2
Digite o 2º sexo (M,F): f
Digite o 3º nome: e
Digite o 3º idade: 1
Digite o 3º sexo (M,F): f
Digite o 4º nome: b
Digite o 4º idade: 14
Digite o 4º sexo (M,F): m
4.8
b
2 mulher(es) cadastradas

In [ ]:
# DESAFIO 10
cont = 0
num = int(input("Digite uma numero: "))

for i in range(1,num):
    if num%i == 0:
        cont+=1
    if cont > i :
        break

if cont > 1:
    print("\nNão é primo 👎")

else:
    print("\nÉ primo 👍")

Digite uma numero: 15
15 é um numero primo