<a href="https://colab.research.google.com/github/IagoAlmeida-ias/Programa-o-em-python-/blob/main/08_LISTAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 08 LISTAS

In [ ]:
# CRIAR LISTA VAZIA


lista1 = []
lista2 = list()


print(type(lista1))
print(type(lista2))

<class 'list'>
<class 'list'>

In [ ]:
# MANIPULAÇÃO DE LISTAS


bancos = ['Banco do Brasil', 'CEF', 'Santander']
print(bancos)
print(bancos[1])


# SUBSTITUIR ITEM DA LISTA
bancos[1] = 'Itaú'
print(bancos)


# SUBSTITUIR ÚLTIMO ITEM DA LISTA
bancos[-1] = 'C6'
print(bancos)


# AGREGAR ITENS A LISTA
bancos = bancos + ['Safra']
print(bancos)


# AGREGAR ITENS A LISTA (Operador de atribuição)
bancos += ['Bradesco', 'Nubank']
print(bancos)

['Banco do Brasil', 'CEF', 'Santander']
CEF
['Banco do Brasil', 'Itaú', 'Santander']
['Banco do Brasil', 'Itaú', 'C6']
['Banco do Brasil', 'Itaú', 'C6', 'Safra']
['Banco do Brasil', 'Itaú', 'C6', 'Safra', 'Bradesco', 'Nubank']

In [ ]:
# MÉTODOS PARA LISTAS


lista = [4, 5, 3, 5]
print(lista)


# ADICIONAR ITENS A LISTA
lista.append(2)
print(lista)


# ADICIONAR VALOR NO ÍNDICE ESPECÍFICO
lista.insert(2, -3)
print(lista)


# CONTAR VALORES
print(lista.count(5))


# VERIFICAR TAMANHO DA LISTA
print(len(lista))


# OBTER ÍNDICE DO ITEM DA LISTA
print(lista.index(5))


# REVERTER ITENS DA LISTA
lista.reverse() # Não atribuir a uma variável
print(lista)


# ORDENAR A LISTA
lista.sort() # Não atribuir a uma variável
print(lista)


# REMOVER ITEM ATRAVÉS DO VALOR
lista.remove(5)
print(lista)


# REMOVER ÚLTIMO ITEM DA LISTA (recebe valor removido)
removeu = lista.pop()
print(removeu)
print(lista)


# REMOVER INTERVALO OU ÍNDICE
del lista[1:3]
print(lista)


# LIMPAR LISTA
lista.clear()
print(lista)

[4, 5, 3, 5]
[4, 5, 3, 5, 2]
[4, 5, -3, 3, 5, 2]
2
6
1
[2, 5, 3, -3, 5, 4]
[-3, 2, 3, 4, 5, 5]
[-3, 2, 3, 4, 5]
5
[-3, 2, 3, 4]
[-3, 4]
[]

In [ ]:
# LISTA DENTRO DE LISTA


compras = [10.2, 3.35, 16.3, ['Tomate', 'Cebola', 'Pimentão']]
print(compras)
print(compras[3])
print(compras[3][1])

[10.2, 3.35, 16.3, ['Tomate', 'Cebola', 'Pimentão']]
['Tomate', 'Cebola', 'Pimentão']
Cebola

In [ ]:
# EXEMPLO



compras = [10.2, 3.35, 16.3, ['Tomate', 'Cebola', 'Pimentão']]

print(f"O \033[31m{compras[3][0]}\033[0m custa R$: {compras[0]:,.2f}")
print(f"O \033[35m{compras[3][1]}\033[0m custa R$: {compras[1]:,.2f}")
print(f"O \033[32m{compras[3][2]}\033[0m custa R$: {compras[2]:,.2f}")
print(f"A compra deu R$: {compras[0]+compras[2]+compras[1]:,.2f}")

O Tomate custa R$: 10.20
O Cebola custa R$: 3.35
O Pimentão custa R$: 16.30
A compra deu R$: 29.85

In [ ]:
# PERCORRER UMA LISTA


roupas = ['Camiseta', 'Bermuda', 'Calça', 'Meia']
for peca in roupas:
    print(peca)

Camiseta
Bermuda
Calça
Meia

In [ ]:
# PERCORRER UMA LISTA ATRAVÉS DO ÍNDICE


roupas = ['Camiseta', 'Bermuda', 'Calça', 'Meia']
for i in range(len(roupas)):
    print(i+1, roupas[i])

1 Camiseta
2 Bermuda
3 Calça
4 Meia

In [ ]:
# PERCORRER UMA LISTA COM ÍNDICE E VALOR


roupas = ['Camiseta', 'Bermuda', 'Calça', 'Meia']
for i, peca in enumerate(roupas):
    print(i+1, peca)

1 Camiseta
2 Bermuda
3 Calça
4 Meia

In [ ]:
# VERIFICAR SE UMA LISTA POSSUI ITENS


letras = ['a', 'b', 'c', 'd', 'e', 'f']
letra = input("Digite a letra: ").lower()


if letra in letras:
    print("\033[32mEstá")
else:
    print("\033[31mNão está")

Digite a letra: l
Não está

In [ ]:
# VERIFICAR SE UMA LISTA NÃO POSSUI ITENS


letras = ['a', 'b', 'c', 'd', 'e', 'f']
letra = input("Digite a letra: ").lower()


if letra not in letras:
    print("\033[31mNão está")
else:
    print("\033[32mEstá")

Digite a letra: l
Não está

DESAFIOS

In [ ]:
# DESAFIO 01

num = []
for i in range(1, 6):
    n = int(input(f"Digite o {i}º numero: "))
    num.append(n)

print(f"maior numero é o {max(num)} e a posisão dele é {num.index(max(num))+1} ")
print(f"menor numero é o {min(num)} e a posisão dele é {num.index(min(num))+1} ")

Digite o 1º numero: 7
Digite o 2º numero: 9
Digite o 3º numero: 4
Digite o 4º numero: 1
Digite o 5º numero: 6
maior numero é o: 9 e a posisão dele é 2
menor numero é o: 1 e a posisão dele é 4

In [ ]:
# DESAFIO 02

nu = []
while True:
    nume = int(input("Digite um nº (0 para sair): "))
    if nume == 0:
        print("Voce saiu...")
        break
    if nume not in nu:
       nu.append(nume)


    else:
        print(f"\033[31mO nº {nume} ja foi cadastrado...\033[0m")
nu.sort()
print(nu)

Digite o 1º numero: 7
Digite o 2º numero: 6
Digite o 3º numero: 5
Digite o 4º numero: 4
Digite o 5º numero: 7
[4, 5, 6, 7]

In [ ]:
# DESAFIO 03
qt = 0
nume = []
while True:
    no = int(input("Digite um nº (0 para sair): "))
    if no == 0:
       print("\nVoce saiu...")
       break
    nume.append(no)
    qt += 1
    if no == 5:
       print(f"\nO 5 foi digitado")

if 5 not in nume:
   print()
else:
    print("\ntem 5 na lista")

nume.sort()
nume.reverse()

print(qt)
print(nume)

Digite um nº (0 para sair): 8
Digite um nº (0 para sair): 9
Digite um nº (0 para sair): 4
Digite um nº (0 para sair): 1
Digite um nº (0 para sair): 5

O 5 foi digitado
Digite um nº (0 para sair): 6
Digite um nº (0 para sair): 3
Digite um nº (0 para sair): 5

O 5 foi digitado
Digite um nº (0 para sair): 0

Voce saiu...

tem 5 na lista
8
[9, 8, 6, 5, 5, 4, 3, 1]

In [ ]:
# DESAFIO 04

numeros = []
numeros_par = []
numeros_impar = []

while True:
    no = int(input("Digite um nº (0 para sair): "))
    numeros.append(no)
    if no == 0:
        print("Voce saiu...")
        break
    if no%2 == 0:
      numeros_par.append(no)
      numeros_par.sort()
    else:
        numeros_impar.append(no)
        numeros_impar.sort()

print(f"\n{numeros}")
print(f"\n{numeros_par}")
print(f"\n{numeros_impar}")

Digite o 5º numero: 0
Voce saiu...

[0]

[]

[]

In [ ]:
# DESAFIO 05 BÔNUS

n = []
for x in range(1, 6):
    num = int(input(f"Digite o {x}º número: "))
    n.append(num)


for i in range(len(n)):
    for j in range(len(n)):
        if n[i] < n[j]:
            n[i], n[j] = n[j], n[i]
            print(n)


print(f"\nNúmeros em ordem: {n}")

Digite o 1º número: 5
Digite o 2º número: 5
Digite o 3º número: 4
Digite o 4º número: 6
Digite o 5º número: 2
[6, 5, 4, 5, 2]
[5, 6, 4, 5, 2]
[4, 6, 5, 5, 2]
[4, 5, 6, 5, 2]
[4, 5, 5, 6, 2]
[2, 5, 5, 6, 4]
[2, 4, 5, 6, 5]
[2, 4, 5, 5, 6]

Números em ordem: [2, 4, 5, 5, 6]

In [ ]:
# DESAFIO 06 BÔNUS

lista_matrizes = [
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
    [[10, 11, 12], [13, 14, 15], [16, 17, 18]],
    [[19, 20, 21], [22, 23, 24], [25, 26, 27]]
]
lista_junta = []

lista_junta.append(lista_matrizes[0][0])
lista_junta.append(lista_matrizes[0][1])
lista_junta.append(lista_matrizes[0][2])
lista_junta.append(lista_matrizes[1][0])
lista_junta.append(lista_matrizes[1][1])
lista_junta.append(lista_matrizes[1][2])
lista_junta.append(lista_matrizes[2][0])
lista_junta.append(lista_matrizes[2][1])
lista_junta.append(lista_matrizes[2][2])

n = lista_junta[0][0]+lista_junta[0][1]+lista_junta[0][2]
n1 = lista_junta[1][0]+lista_junta[1][1]+lista_junta[1][2]
n2 = lista_junta[2][0]+lista_junta[2][1]+lista_junta[2][2]
n3 = lista_junta[3][0]+lista_junta[3][1]+lista_junta[3][2]
n4 = lista_junta[4][0]+lista_junta[4][1]+lista_junta[4][2]
n5 = lista_junta[5][0]+lista_junta[5][1]+lista_junta[5][2]
n6 = lista_junta[6][0]+lista_junta[6][1]+lista_junta[6][2]
n7 = lista_junta[7][0]+lista_junta[7][1]+lista_junta[7][2]
n8 = lista_junta[8][0]+lista_junta[8][1]+lista_junta[8][2]




print(lista_junta)
print(n+n1+n2+n3+n4+n5+n6+n7+n8)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18], [19, 20, 21], [22, 23, 24], [25, 26, 27]]
378

In [ ]:
lista_matrizes = [
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
    [[10, 11, 12], [13, 14, 15], [16, 17, 18]],
    [[19, 20, 21], [22, 23, 24], [25, 26, 27]]
]


soma = 0
for matriz in lista_matrizes:
    for linha in matriz:
        for coluna in linha:
            soma += coluna
            print(coluna, end=' ')


print(f"\n\nSoma: {soma}")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27

Soma: 378

In [ ]:
import random
times= ["Flamengo", "Palmeiras", "São Paulo", "Athletico-PR", "Atlético-MG" ,"Corinthians" ,"Fluminense", "Grêmio", "Fortaleza", "Internacional", "Bahia", "Botafogo", "Red Bull Bragantino", "Atlético-GO", "Ceará", "Cuiabá",
        'Goiás', 'Vasco', 'Juventude', 'Sport', 'CRB', 'Vitória', 'Criciúma', 'Sampaio Corrêa' ,'Operário-PR' ,'Botafogo-SP', 'Brusque', 'Ypiranga-RS', 'América-RN', 'Amazonas', 'Águia de Marabá', 'Sousa-PB']

times1 = []
times2 = []
for i in range(1, 33):
        ti = random.choice(times)
        if i <= 16 :
          times1.append(ti)
          times.remove(ti)
        else:
            times.remove(ti)
            times2.append(ti)

print(times1)
print(times2)

['Internacional', 'Atlético-GO', 'Corinthians', 'Vasco', 'Sampaio Corrêa', 'Cuiabá', 'Red Bull Bragantino', 'Ypiranga-RS', 'Águia de Marabá', 'Fortaleza', 'Atlético-MG', 'CRB', 'Flamengo', 'Bahia', 'Goiás', 'Sport']
['Juventude', 'América-RN', 'Operário-PR', 'Brusque', 'Grêmio', 'Criciúma', 'Botafogo', 'Palmeiras', 'Ceará', 'Vitória', 'Sousa-PB', 'Fluminense', 'Botafogo-SP', 'Athletico-PR', 'Amazonas', 'São Paulo']

In [ ]:
import random
times=["Flamengo", "Palmeiras", "São Paulo", "Athletico-PR", "Atlético-MG" ,"Corinthians" ,"Fluminense", "Grêmio", "Fortaleza", "Internacional", "Bahia", "Botafogo", "Red Bull Bragantino", "Atlético-GO", "Ceará", "Cuiabá",
        'Goiás', 'Vasco', 'Juventude', 'Sport', 'CRB', 'Vitória', 'Criciúma', 'Sampaio Corrêa' ,'Operário-PR' ,'Botafogo-SP', 'Brusque', 'Ypiranga-RS', 'América-RN', 'Amazonas', 'Águia de Marabá', 'Sousa-PB']
timesA = []
timesB = []
for time in range(len(times)):
    sorteio = random.choice(times)
    if len(times)%2 == 1:
        timesA.append(sorteio)
    else:
        timesB.append(sorteio)
    times.remove(sorteio)


print(timesA)
print(timesB)

  0   1   2   3   4   5   6   7   8   9  10
  1   2   3   4   5   6   7   8   9  10  11
  2   3   4   5   6   7   8   9  10  11  12
  3   4   5   6   7   8   9  10  11  12  13
  4   5   6   7   8   9  10  11  12  13  14
  5   6   7   8   9  10  11  12  13  14  15
  6   7   8   9  10  11  12  13  14  15  16
  7   8   9  10  11  12  13  14  15  16  17
  8   9  10  11  12  13  14  15  16  17  18
  9  10  11  12  13  14  15  16  17  18  19
 10  11  12  13  14  15  16  17  18  19  20