<a href="https://colab.research.google.com/github/IagoAlmeida-ias/Programa-o-em-python-/blob/main/09_TUPLAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 09 TUPLAS

In [ ]:
# TUPLAS


linguagens = ('Assembly', 'JAVA', 'Python', 'C#')
print(linguagens)


linguagens2 = 'Assembly', 'JAVA', 'Python', 'C#'
print(linguagens2)
print(type(linguagens2))

('Assembly', 'JAVA', 'Python', 'C#')
('Assembly', 'JAVA', 'Python', 'C#')
<class 'tuple'>

In [ ]:
# ACESSOS PARA TUPLAS


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


print(lanches[0])   # Primeiro item
print(lanches[-1])  # Último item
print(lanches[1:3]) # Dois itens
print(lanches[1:])  # A partir do segundo
print(lanches[:2])  # Até o segundo
print(lanches[:])   # Todos

Hamburger
Pizza
('Pastel', 'Coxinha')
('Pastel', 'Coxinha', 'Pizza')
('Hamburger', 'Pastel')
('Hamburger', 'Pastel', 'Coxinha', 'Pizza')

In [ ]:
# GERA ERRO (TUPLA É IMUTÁVEL)


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
lanches[0] = 'Hotdog'

In [ ]:
# PERCORRER UMA TUPLA


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


for lanche in lanches:
    print(lanche)

Hamburger
Pastel
Coxinha
Pizza

In [ ]:
# PERCORRER UMA TUPLA POR ÍNDICE


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


for i in range(len(lanches)):
    print(lanches[i])

Hamburger
Pastel
Coxinha
Pizza

In [ ]:
# PERCORRER UMA TUPLA POR ÍNDICE E VALORES


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


for posicao, lanche in enumerate(lanches):
    print(f"{posicao+1} | {lanche}")

1 | Hamburger
2 | Pastel
3 | Coxinha
4 | Pizza

In [ ]:
# CONVERTER LISTA EM TUPLA


lista = list()
lista = [1, 2, 3, 4, 5]


tupla = tuple(lista)
print(tupla)
print(type(tupla))
print(lista.index(5))

(1, 2, 3, 4, 5)
<class 'tuple'>
4

In [ ]:
# MÉTODO SORTED


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


ordenar = tuple(sorted(lanches))
print(ordenar)
print(type(ordenar))

('Coxinha', 'Hamburger', 'Pastel', 'Pizza')
<class 'tuple'>

In [ ]:
# MÉTODO DEL


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
del(lanches)
print(lanches)

In [ ]:
# CONCATENAR TUPLAS


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
doces = ('Pudim', 'Bolo', 'Sorvete')


unificada = lanches + doces


print(unificada)

('Hamburger', 'Pastel', 'Coxinha', 'Pizza', 'Pudim', 'Bolo', 'Sorvete')

In [ ]:
# EXEMPLOS PARA INSERÇÃO DE VALORES EM TUPLAS:


# Digitação pelo usuário
tupla = tuple(int(input(f"Digite o {i+1} nº: ")) for i in range(5))
print("\nDigitados pelo usuário:", tupla)


# Números aleatórios
import random
tupla = tuple(random.randint(1, 50) for i in range(5))
print("\nNúmeros aleatórios:", tupla)


# Contagem
tupla = tuple(i for i in range(1, 11))
print("\nContagem:", tupla)


# Valores condicionais
numeros = (4, 8, 7, 10, -50)
pares = tuple(num if num%2==0 else '' for num in numeros)
print("\nPares condicionais:", pares)


# Imprimir diretamente uma Tupla
print("\nNúmeros pares de 0 a 10:", tuple(i for i in range(0, 11, 2)))

Digite o 1 nº: 4
Digite o 2 nº: 2
Digite o 3 nº: 3
Digite o 4 nº: 1
Digite o 5 nº: 2

Digitados pelo usuário: (4, 2, 3, 1, 2)

Números aleatórios: (39, 10, 45, 22, 30)

Contagem: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Pares condicionais: (4, 8, '', 10, -50)

Números pares de 0 a 10: (0, 2, 4, 6, 8, 10)

# Desafios

In [ ]:
# DESAFIO 01
numeros_extenso = (
    'Um',
    'Dois',
    'Três',
    'Quatro',
    'Cinco',
    'Seis',
    'Sete',
    'Oito',
    'Nove',
    'Dez',
    'Onze',
    'Doze',
    'Treze',
    'Quatorze',
    'Quinze',
    'Dezesseis',
    'Dezessete',
    'Dezoito',
    'Dezenove',
    'Vinte')

num = int(input("Digite um numero de 1 á 20: "))

print(numeros_extenso[num-1])

Digite um numero de 1 á 20: 7
Sete

In [ ]:
import random


t1 = []
for i in range(1,6):
   n = random.randint(1,100)
   t1.append(n)


t2 = tuple(t1)
print(t2)
print(max(t1))
print(min(t1))

(24, 39, 36, 76, 91)
91
24

ValueError: 5 is not in list

In [ ]:
# DESAFIO 03

num = ()
for i in range(1,5):
    n = int(input(f"Digite o {i}º numero"))

In [ ]:
# DESAFIO 03

tupla = tuple(int(input(f"Digite o {i}º numero: ")) for i in range(1, 5))
print("\nNão digitou 9" if 9 not in tupla else f"\n9 aparece {tupla.count(9)} vezes")
print("\nNão digitou 3" if 3 not in tupla else f"\n9 aparece na posição {tupla.index(3)+1}")
print("Pares: ", end=' ')
for num in tupla:
    if num%2 == 0:
        print(num, end=' ')

Digite o 1º numero: 4
Digite o 2º numero: 5
Digite o 3º numero: 6
Digite o 4º numero: 2

Não digitou 9

Não digitou 3
Pares:  4 6 2

In [ ]:
# DESAFIO 04

produtos = ('Camiseta', 50, 'Calça', 79, 'Bermuda', 40, 'Blusa', 100)

for i, item in enumerate(produtos):
   if i%2 == 0:
      print(f"{item}".ljust(15, '.'), end='')
   else:
      print(f"R$ {item:,.2f}".replace('.',',').rjust(12, '.'))

Camiseta...........R$ 50,00
Calça..............R$ 79,00
Bermuda............R$ 40,00
Blusa.............R$ 100,00